<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Tem Vaga Aí?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="Digite o evento ou sua localidade"></ion-input>
  </ion-item>
  <p text-center>Estacionamentos Disponiveis</p>
  <ion-item>
    <p text-center>Estacionamento Rio Novo<br>
      Rua Rio Novo, 190 - Lagoinha, Belo Horizonte
      <ion-button size="small" href="/touchid" expand="block">Saber Mais</ion-button>
    </p>
  </ion-item>
</ion-content>
