<ion-header>
  <ion-toolbar>
    <ion-title text-center>Registre-se já</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-item>
      <ion-input type="text" placeholder="Digite um nome de Usuário"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Digite sua senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Digite seu email"></ion-input>
    </ion-item>
  </div>
  <div padding>
    <ion-button size="large" href="/touchid" expand="block">Registrar</ion-button>
  </div>
</ion-content>
